@model IList<MVVC_App.Models.SeePersonViewModel>

@{
    ViewBag.Title = "ViewPerson";
}

<h2>See People</h2>

@foreach (var item in Model)
{
    <div class="panel">
        <h5> Name: @item.FirstName @item.LastName </h5>
        <h5> Date of Birth: @item.DOB </h5>
        <h5> State: @item.State</h5>
    </div>

}

