@model Jquery_Ajax.Models.UserModal

@{
    ViewBag.Title = "UserDetails";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@Scripts.Render("~/Scripts/myScripts/User/userDetails.js")

<h2>UserDetails</h2>
<form id="User-form" role="form">
    Enter user id : @Html.TextBoxFor(model => model.Id, new { id = "user-id"}) 
    <br/><br />
    <button class="button" type="submit" id="show-alert">Show Alert</button>
    <button class="button" type="submit" id="make-ajax-call">Call Ajax</button>
</form>

<br/>

<div>
    <b>Data Received by making Ajax Call:</b>
    <br /><br />
    First Name: @Html.TextBoxFor(model => model.FirstName, new { id = "user-firstname" })
    <br /><br />
    Last Name: @Html.TextBoxFor(model => model.LastName, new { id = "user-lastname" })
</div>

<br />

<!-- <button class="button" type="submit" id="show-modal" data-toggle="modal" data-target="#SimpleModal">Show Modal</button>  // without JQuery -->
<button class="button" type="submit" id="show-modal" data-toggle="modal">Show Modal</button>

<div id="SimpleModal" class="modal fade" role="dialog"> 
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Modal Title</h4>
            </div>
            <div class="modal-body">
                <p> Hello World, This is demo modal</p>
            </div>
        </div>
    </div>
</div>

<script>
    var url = "/Scripts/myScripts/User/userDetails.js";
    $.getScript(url);
</script>



